<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
      
    </style>
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Klicktric</a>
        </div>
        <div class="navbar-collapse collapse">
          <!--ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul-->
          <ul class="nav navbar-nav">
            <li><a href="/game">Gameboard</a></li>
            <li class="active"><a href="/profile">Profile</a></li>
            <li><a href="/api">Api Docs</a></li>            
        
          </ul>
         <ul class="nav navbar-nav pull-right" >
           <li><a href="/">Logout</a></li>
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

     <div class="container">
     <div class="well col-md-3">
 
       
         <span class="label label-default">Name</span> 
         <span class="label label-success" id="name"></span>  </br>
         <span class="label label-default"> Id </span> 
         <span class="label label-success" id="id"></span>  </br>
        <span class="label label-default"> Level </span> 
         <span class="label label-success" id="level"> 1</span>  </br>
  </br>
  <!--span class="label label-success">API : Profile</span-->        
     </div> 
    
       <!--div class="well col-md-3" >
         Usage data from energy molnet. </br>
         or your account is not yet synced.</br>
<span class="label label-success">API : Meter</span>       
       </div>

       <div class="well col-md-3" >
         rewards so far. </br>
         </br>
<span class="label label-success">API : Reward</span>       
       </div-->
  
      </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script>
    $.ajax({
	url: 'http://graph.facebook.com/638449578',
	type: 'GET',
	datatype: 'json',
	
	success: function(json){ console.log(json); 
          document.getElementById("name").innerHTML=json.name;
          document.getElementById("id").innerHTML=json.id;
         }

    }); 

</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
