compassion </br>

practising comapassion. </br>
some exercise on this . </br>
1. morning ritual - ocmpassion mediation</br>
2. empaty practise - paul ekmans exercises .. </br>
3. find similarities between you and others</br>
4. people who harm .. think how poor they must be and imagine helping them</br>
5. evening routine  -. remeberring all the people who helped us.. and relive it. and all people u helped.</br>
6. </br>
7. </br>
</br>
http://zenhabits.net/a-guide-to-cultivating-compassion-in-your-life-with-7-practices/
